<div class= main>
  <div class= "task-list">
    <% @rooms.reverse_each do |room|%>
    <ul class= "ul-list">
    <li>
          <div class="box29">
              <div class="box-title"><%=link_to room.title, room_path(room.id)%></div>
              <p><%=room.description%></p>
          </div>
     </li>
    </ul>
    <% end %>
  </div>
</div>