/* ヘッド要素 */
.top-header{
height: 100px;
}

.head-elements{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}

.head-title{
  width: calc(100% - 300px - 100px);
  height: 100%;
}

.title{
  width: 100%;
  height: 100%;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.create-room{
  width: 100px;
  height: 100%;
  padding-top: 40px;
  background-color: lightblue;
  text-align: center;
}

.log-in-top{
  height: 100%;
  width: 300px;
  background-color: lime;
}

.log-in-list{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*メインボディ要素 */
.main{
  height: calc(100vh - 150px);
  background-color: lightgreen;
}

/* ルームの表示 */
.task-list{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
}

.ul-list{
  width: 200px;
}


.box29 {
  margin: 2em 0;
  background: #dcefff;
}
.box29 .box-title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box29 p {
  padding: 15px 20px;
  margin: 0;
}

/* ルーム作成画面 */
.whole-new-page{
  width: 100vw;
  height: 100vh;
  background-color: greenyellow;
}
.form{
  height: 100vh;
  width:  100vw;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-title{
  padding: 20px;
}

.f-title{
  display: block;
  font-size: 50px;
}

.f-field{
  height: 50px;
  width: 100%;
  padding: 5px;
}


.form-text{
  padding: 20px;
}

.f-text{
  display: block;
  text-align: center;
  font-size: 50px;
}

.f-area{
  height: 100px;
  width: 300px;
  padding: 5px;
}


.submit-btn{
  height: 50px;
  width: 100px;
}